.fluid{
    padding: 0;
}
.AggregatorViewcontainer{
    background: #f3f3f3;

    #back-button{
        margin-left: 0;
        padding: 0;
        background: unset; 
        button{
            i{
            font-size: 8px;
            }
        }
     }
}
#dashboard-wallet-div{
    margin-bottom: 5vh;
    margin-top: 2vh;
    overflow-x:auto;
}
#income-wallet-div{
    overflow-x: auto;
	padding: 2%; 
    margin-bottom: 2%;
    
    #upperSection{
        padding-top: 2vh;
        #top{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}