.header{
    text-align: center;

    #logo{
        width: 25%;
        height: 25%;
        margin-bottom: 40px;
    }
    
    p{
        font-size: 16px;
        color: #4d4f5c;
        font-weight: bolder;
    }
}

