#loginError{
	padding: 5px;
  position: relative; 
  width: 70%;
  left: 15%;
	font-size: 12px;
}

.out {
	opacity: 0;
    animation: notification 5s linear 1;
}

@keyframes notification {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
  	opacity: 0;
  }
}