#topPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 1% 4%;
    width: 92%;
}
#mainWrapper{
    background-color: #f3f3f3;
}
#wrapper{
    width: 100%;
}