/* Style.css */

.body{
	background-color: #FFF;
	font-family:  'avenir', Lato !important;
	box-sizing: border-box;
	/* position: relative; */
	display: block;
}

::-webkit-scrollbar-track {
	border: 1px solid #FBB700;
	border-radius: 5px;
	background-color: #F3F3F3;
}

::-webkit-scrollbar {
	width: 3px;
	background-color: #F3F3F3;
}

::-webkit-scrollbar-thumb {
	background-color: #5C2584;	
}

@font-face {
	font-family: "avenir";
	src: "fonts.googleapis.com/css?family=Avenir";
}

#fit-image {
	background: url("../img/free_img.png") no-repeat center;
	background-size: cover !important; 
	min-height: 100vh;
	position: relative;
}

#login-layout{
	display: grid; 
	grid-template-columns: 1fr 1fr;
}
#login-container{
	margin-top: 10vh;
	text-align: center;
	padding: 0% 15%;
	width: 100%;
	text-align: center;
}
#login-container .form-group {
	display: flex;
	justify-content: center;
}
#login-container input {
	height: 40px;
	padding: 10px;
	font-size: 13px;
	border-radius: 3px;
}
input.form-control:read-only { 
  background: white;
  border-color: #ebebeb;
  box-shadow: inset 0 0px 0px #000, 0 0 0px #000;
}
.btn:hover {
	opacity: 0.9;
	color: #fff;
	background-color: #FBB700;
}
.header{
	text-align: center;
}
.form-control:hover{
	border: 1px solid #E6061C;
}
input[type="text"]{
	height: 40px;
	padding: 10px;
	font-size: 13px;
	border-radius: 3px;
}
/* Account.css*/

#main{
	background-color: #f3f3f3 !important;
	width: 80%;
	min-height: 100vh;
	padding-bottom: 5%;
	position: relative;
	left: 10%;
	display: flex;
	justify-content: center;
}
#thrift-main {
	width: 100%;
	margin-bottom: 2%;
	position: relative;
	display: flex;
	justify-content: center;
}
.underline-thrift-panel{
	border-bottom: 2px solid #c60115;
	color: #5C2584;
	font-weight: bolder;
}
#thrift-panel {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: space-evenly;
	border-bottom: .5px solid #f3f3f3;
	padding: 10px;
}
#thrift-panel>h5{
	font-weight: bolder;
}
#thrift-panel>h5:hover{
	color:#5C2584;
	font-weight: bolder;
	cursor: pointer;
}
#container{
	margin-top: 5vh;
	position: absolute;
	width: 40%;
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}

#thrift-acct-container{
	top: 2vh;
	position: relative;
	margin-bottom: 2vh;
	background-color: #ffffff;
}
#back-button {
	margin: 15px;
}
#back-button button {
	background-color: white; 
	color: #5C2584;
	border: 1px solid #c60115;
}
#panel-bottom{
	text-align: left;
	padding: 2vh 6vh;
}
#bill-form{
	left: 0%;
}
.form-horizontal{
	width: 80%;
	position: relative;
	left: 10%;
}
.form-control:hover{
	border: 1px solid #F8CECA;
}
.form-control:focus {
	box-shadow: inset 0 0px 0px #F8CECA, 0 0 0px #F8CECA;
	border-color: #F8CECA;
}
#transferDetails {
	display: block; 
	justify-content: center;
}
#transferDetails span{
	font-weight: bold;
}
#icon-style{
	border: 1px solid #000;
	border-radius: .75vw;
    width: 100%;
    font-size: 1.75em;
    opacity: 0.5;
    padding: 0;
    color: #000;
    background-color: white;
}
/* #inner-items{
	background-color: #ffffff;
	padding: 2%;
	margin: 2%;
	border: .5px solid #000;
	width: 150px;
} */
#thrift-layout{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	margin: 0px;
	box-sizing: border-box;
	justify-content: center;
	overflow-x: auto;
}
/* #inner-items>img{
	width: 7.5vh;
	height: 7.5vh;
}
#inner-items:hover #icon-style{
	border: 1px solid white;
	color: #5C2584;
	font-weight: bolder;
	font-size: 180%;
}
#inner-items:hover{
	color: #FFF;
	background: linear-gradient(145deg, #FBB700, #FF0014);
	border: 1px solid white;
} */
#bill-list>li{
	padding: 2.5%;
	list-style: none;
	display: inline-block;
}
#bill-list{
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 5%;
}
#bill-list>li:hover{
	cursor: pointer;
	color: red;
	font-weight: bold;
}
#serviceName{
	color: #c60115;
	font-weight: bold;
}
#billPaymentOptionsDropdown{ 
	overflow-y: auto; 
	max-height: 40vh;
	position: relative;
}
#NetworkList{
	cursor: pointer;
	padding: 5px 5px;
}
#NetworkList:hover {
	background-color: #FBB700;
}

/* Dashboard CSS*/
.navbar{
	background-color: white;
	min-height: 0px;
	line-height: 1;
}
.navbar-default{
    border: 0px;
    margin: 0px;
}
hr{
    margin-bottom: 0;
}
.navbar-nav.navbar-right{
	padding: 0px;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>.active>a:hover{
    color: #5C2584;
    background-color: white;
}
.navbar-default .navbar-nav>li>a>span>img:hover {
	-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
  	filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.activeLink{
	color: red;
  background-color: white;
}
.navbar-default .navbar-nav>li>a{
    font-weight: bold;
    font-size: 12.5px;
}
.navbar-nav>li>a{
	padding-bottom: 20px;
	padding-top: 20px;
}
#bottom-content{
	background-color: #f3f3f3 !important;
	position: relative;
	min-height: 100vh;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
  align-items: center;
}
.navbar .navbar-collapse {
  text-align: center;
}
#table-nav-buttons{
	text-align: center;
}
#table-nav-buttons button, #table-nav-buttons h6 {
	margin: 0% 5%;
	display: inline-block;
}
#table-nav-buttons h4{
	color: #5C2584;
}
input.form-control, select.form-control{
	height: 40px;
	padding: 10px;
	font-size: 13px;
	border-radius: 3px;
	box-shadow: none;
}
span>img{
	font-size: 5px;
	margin-right: .5vw;
	align-items: center;
}
div ul li a{
	color: black;
	font-size: 1.4rem;
}
div ul li{
	padding: 0rem 1.3rem;
}
span img{
	height: 2.5em;
	width: 2.5em;
}

#panel1, #panel2{
	margin: 4vh 2vw 4vh 0vw;
}
#credit_request_arrow{
	color: #ffffff;
	border: 1px solid #ffffff;
	background: #FBB700;
	justify-content: center;
}
#credit_request_arrow:hover{
	color: #FBB700;
	background: #5C2584;
	font-weight: bold;
}
#bottom_div{
	border-top: 2px solid #F6C2C6;
	padding: 2vw;
	left: 15%;
	width: 70%;
	position: relative;
	background-color: white;
	margin: 3vh 0vh;
	border-radius: .75vw;
}
th a{
	padding: 0 3%;
}
td, th, tr{
	text-align: center;
}
.table thead tr th, 
.table thead tr th a, 
.table thead tr th a:hover{
	color: black;
	background-color: white;
}
.table thead tr th a:hover{
	color: #E6061C;
	text-decoration: none;
	font-weight: bold;
}
tbody tr:hover{
	background-color: #FEF9F9;
}
tbody tr td{
	font-size: 15px;
}
tbody tr{
	border-top: 2px solid #fafafa;
}
.table>tbody>tr>td{
	padding: 20px;
}

.table>thead>tr>th {
    padding: 8px 20px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid red;
}
.table-to-xls{
	border: unset;
	background: unset;
	padding-left: 0px;
}
.nav .dropdown button{
	box-shadow: none;
}
.middle-panel{
	left: 15%;
	width: 70%;
}
.line li{
	display: inline-block;
	padding: 5vw;
}
.line {
  	position: relative;
}
.line:before, .line:after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
}
.line:after {
	right: 0;
	height: 2px;
	background:  linear-gradient(90deg, #5C2584 50%, #FBB700 50%);
}
.btn{
	background-color: #5C2584;
	font-weight: bold;
	text-transform: none;
	border-color: currentColor;
	color: #fff;
}
.btn.btn-sm{
	padding: 7px;
	border-radius: 5px;
	text-transform: none; 
}
.btn-sm{ text-transform: none; }

/* Deposit.css */
#panel{
	font-weight: bold;
	padding: 2vh 0vh;
}
#panel > h4, #panel > h5 {
	font-weight: bolder;
}

#deposit-fields-2 span{ font-weight: bold; float: right; text-align: left }
#deposit-fields-2 .total{ background-color: #f3f3f3; padding: 1vh; }
#deposit-fields-2 .total h5{ font-weight: bold; }
#thrift-container{
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #ffffff; 
}
ul li{ list-style: none; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#aggregator-card{ width: 20%; display: inline-block; padding: 1%; box-sizing: border-box; border: 2px solid red; }
#first-aggregator-card{
	color: #000;
	border: 2px solid red;
	width: 100%;
	display: inline-block;
	padding: 1%;
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 3px;
}
#first-aggregator-count {
	display:inline-block; justify-content: space-between; padding-bottom: 0px; padding-top: 0px;
}
#stats-card-row-dashboard {
	padding: 10px 0px;
	display: grid;
	grid-template-columns: 1fr;
}
.yellow{ color: #FBB700; }
.green{ color: #418003; }
.grey{ color: #bebebe; }
#aggregator-count-image{ display: block; float: right; height: 30px; width: 30px; top: 0px; position: relative; }
#dashboard-count-image { display: block; float: right; height: 50px; width: 50px; top: 0px; position: relative; }
#bold{ font-weight: bold; }
#second-aggregator-card{ color: #000; background-color: #ffffff; width: 100%; display: inline-block; padding: 1%; box-sizing: border-box; }
#aggregator-count, #aggregator-count{ color: #ff0014; }
#aggregator-card>h5>span>img{ width: 12.5px; height:12.5px; }
#aggregator-card>h4{ font-weight: bold; }
#first-aggregator-card>h4 #second-aggregator-card>h4{ font-weight: bold; }
#right-aggregator-view{ background-color: #ffffff; padding: 2.5px; margin-top: 2%; }
#right-aggregator-view table th{ font-size: 11px; text-align: left; color: #4d4f5c; }
#right-aggregator-view table td{ font-size: 13px; text-align: left; }
#dashboard-table table td{ font-size: 13px; text-align: left; }
#dashboard-table table th{ font-size: 11px; text-align: left; color: #4d4f5c; }
#right-aggregator-view .form-inline{ float: right; margin: 1% 2% 1% 2%; width: 35%; }
#right-aggregator-view .form-inline input, #right-aggregator-view .form-inline button{ margin-right: 2%; border-radius: .5vw; }
#view{ text-align: center; color: lightgrey; }
#view:hover{ text-decoration: underline; cursor: pointer; font-weight: bold; }
#view-btn-1, #view-btn-2{ color: #ffffff; border: 1px solid #ffffff; float: right; border-radius: 5px; }
#view-btn-1{ background-color: #f7b352; }
#view-btn-2{ background-color: #cb0111; }
#view-btn-1:hover, #view-btn-2:hover{ font-weight: bold; }
#view-btn-1:hover{ background: #FBB700 }
#view-btn-2:hover{ background: #d42e3b }
#view-card{ border-radius: .5vw; width: 45%; background-color: #fff; box-sizing: border-box; padding: 2%; overflow-x: auto }
#aggregator-view-card-top{ padding: 2% 4%; width: 100%; }
#toggleAgentPerformance, #toggleAgentPerformance a {
	display: flex; 
	justify-content: flex-start;
	color: #333333;
}
#toggleAgentPerformance > h5:hover, #toggleAgentPerformance a:hover {
	font-weight: bold;
	cursor: pointer;
	color: #5C2584;
	text-decoration: underline;
}
.toggleAgentPerformance {
	margin-top: 10px;
}

#income-wallet-div{ background: #FFFFFF; padding: 2%; width: 100%; box-sizing: border-box; margin-bottom: 2%; }
#dashboard-wallet-div{
	width: 92%;
	left: 4%;
	background: #FFFFFF;
	padding: 0% 2%;
	box-sizing: border-box;
	margin-bottom: 2%;
}
#income-wallet-topLeft{
	display: inline-block;
}
#income-wallet-topRight{
	display: block;
	float: right;
	text-align: right;
	font-weight: bold;
}
#pad-aggregator-items{
	margin: 2px 5px;
	border-radius: .5vh;
	display: inline-block;
}
#income-wallet-table{
	margin-top: 2%;
}
#print-receipt {
	width: 50%;
	left: 25%;
	position: relative;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    width: 10%;
    -webkit-appearance: none;
}

/* Mobile phone tweaks here  */
@media only screen and (max-width: 960px) {
	#fit-image { 
		display: none; 
	}
	#print-receipt { 
		left: 2%; 
		width: 96%; 
	}
	.navbar-nav>li>a {
	  padding-bottom: 7.5px;
	  padding-top: 7.5px;
	}
	#aggregator-view-card-top { 
		padding: 2%; 
		width: 100%; 
	}
	#aggregator-view-card { 
		width: 100%; 
	}
	#stats-card {
		padding: 5px;
	}
	#container { 
		width: 100%; 
	}
	#main-thrift-acct-container { 
		width: 100%;
	}
	#main { 
		width: 100%; 
		left: 0%; 
	}
	.middle-panel{ 
		left: 2%; 
		width: 96%; 
	}
	#bottom_div{ 
		left: 2%; 
		width: 96%; 
	}
	#loginError { 
		width: 100%;
		position: relative;
		justify-content: center;
	  }
  }