/* body{
	font-size: 100%;
	background-color: red;
	font-family:  lato;
	font-weight: bold;
	position: relative;
	top: 5vh;
}
#container{
	top: 5vh;
	position: relative;
	width: 30%;
	left: 35%;
	text-align: center;
	border-bottom: #FF0014;
}
@media only screen and (max-width: 768px) {
  #container {
    width: 70%;
	left: 15%;
  }
}
.header{
	text-align: center;
}
.btn-danger{
	background-color: #FF0014;
	font-weight: bold;
}
.form-control{
	border-radius: .5vw;
}
.form-control:hover{
	border: 1px solid #FF0014;
	opacity: 0.7;
}
#reset-password{
	display: inline-block;
  	float: none;
  	vertical-align: top;
}
footer{
	position: relative;
	top: 30vh;
}
.btn-danger{
	background-color: #FF0014;
} */