//Custom Colors 
$color-purple: #5C2584;
$color-yellow: #FBB700;
$color-green: #418003;
$color-grey: #bebebe;
$color-light-red: #E6061C;
$color-dim-red: #c60115;
$color-pink: #F8CECA;

//Styles
.body{
	background-color: #FFF;
	font-family:  'avenir', Lato !important;
	box-sizing: border-box;
	display: block;
}

::-webkit-scrollbar-track {
	border: 1px solid $color-yellow;
	border-radius: 5px;
	background-color: #F3F3F3;
}

::-webkit-scrollbar {
	width: 3px;
	background-color: #F3F3F3;
}

::-webkit-scrollbar-thumb {
	background-color: $color-purple;	
}

@font-face {
	font-family: "avenir";
	src: "fonts.googleapis.com/css?family=Avenir";
}

#fit-image {
	background: url("../img/fcmb_img.jpg") no-repeat center;
	background-size: cover !important; 
	min-height: 100vh;
	position: relative;
}

#login-layout{
	display: grid; 
	grid-template-columns: 1fr 1fr;
}
#login-container{
	margin-top: 10vh;
	text-align: center;
	padding: 0% 15%;
	width: 100%;
	text-align: center;

	.form-group {
		display: flex;
		justify-content: center;
	}

	input {
		height: 40px;
		padding: 10px;
		font-size: 13px;
		border-radius: 3px;
	}
}
input.form-control:read-only { 
  background: white;
  border-color: #ebebeb;
  box-shadow: inset 0 0px 0px #000, 0 0 0px #000;
}
.header{
	text-align: center;
}
.form-control:hover{
	border: 1px solid $color-light-red;
}
input[type="text"]{
	height: 40px;
	padding: 10px;
	font-size: 13px;
	border-radius: 3px;
}
/* Account.css*/

#main{
	background-color: #f3f3f3 !important;
	width: 80%;
	min-height: 100vh;
	padding-bottom: 5%;
	position: relative;
	left: 10%;
	display: flex;
	justify-content: center;
}
.underline-thrift-panel{
	border-bottom: 2px solid $color-dim-red;
	color: $color-purple;
	font-weight: bolder;
}
#container{
	margin-top: 5vh;
	position: absolute;
	width: 40%;
	min-height: 40vh;
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}

#back-button {
	margin: 15px;
	button {
		background-color: white; 
		color: $color-purple;
		border: 1px solid $color-dim-red;
	}
}
#panel-bottom{
	text-align: left;
	padding: 2vh 6vh;
}
.form-horizontal{
	width: 80%;
	position: relative;
	left: 10%;
}
.form-control:hover{
	border: 1px solid $color-pink;
}
.form-control:focus {
	box-shadow: inset 0 0px 0px $color-pink, 0 0 0px $color-pink;
	border-color: $color-pink;
}
#transferDetails {
	display: block; 
	justify-content: center;
	span{
		font-weight: bold;
	}
}
#bill-list{
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 5%;
	>li{
		padding: 2.5%;
		list-style: none;
		display: inline-block;
		&:hover{
			cursor: pointer;
			color: red;
			font-weight: bold;
		}
	}
}
#serviceName{
	color: $color-dim-red;
	font-weight: bold;
}
#billPaymentOptionsDropdown{ 
	overflow-y: auto; 
	max-height: 40vh;
	position: relative;
	width: 350px;
}
#billPaymentOptions{
	background-color: $color-yellow; 
	width: 350px;
}
#NetworkList{
	cursor: pointer;
	padding: 5px;
	&:hover {
		background-color: $color-yellow;
	}
}

.navbar{
	background-color: white;
	min-height: 0px;
	line-height: 1;
}
.navbar-default{
    border: 0px;
    margin: 0px;
}
hr{
    margin-bottom: 0;
}
.navbar-nav.navbar-right{
	padding: 0px;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>.active>a:hover{
    color: $color-purple;
    background-color: white;
}
.navbar-default .navbar-nav>li>a>span>img:hover {
	-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
  	filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.activeLink{
	color: red;
  background-color: white;
}
.navbar-default .navbar-nav>li>a{
    font-weight: bold;
    font-size: 12.5px;
}
.navbar-nav>li>a{
	padding-bottom: 20px;
	padding-top: 20px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
  align-items: center;
}
.navbar .navbar-collapse {
  text-align: center;
}
#table-nav-buttons{
	text-align: center;
}
#table-nav-buttons button, #table-nav-buttons h6 {
	margin: 0% 5%;
	display: inline-block;
}
#table-nav-buttons h4{
	color: $color-purple;
}
input.form-control, select.form-control{
	height: 40px;
	padding: 10px;
	font-size: 13px;
	border-radius: 3px;
	box-shadow: none;
}
div ul li a{
	color: black;
	font-size: 1.4rem;
}
div ul li{
	padding: 0rem 1.3rem;
}

#panel1 {
	margin: 4vh 2vw 4vh 0vw;
}
#credit_request_arrow{
	color: #ffffff;
	border: 1px solid #ffffff;
	background: $color-yellow;
	justify-content: center;
	&:hover{
		color: $color-yellow;
		background: $color-purple;
		font-weight: bold;
	}
}
#bottom_div{
	border-top: 2px solid #F6C2C6;
	padding: 2vw;
	left: 15%;
	width: 70%;
	position: relative;
	background-color: white;
	margin: 3vh 0vh;
	border-radius: .75vw;
}
th a{
	padding: 0 3%;
}
td, th, tr{
	text-align: center;
}
.table thead tr th, 
.table thead tr th a, 
.table thead tr th a:hover{
	color: black;
	background-color: white;
}
.table thead tr th a:hover{
	color: $color-light-red;
	text-decoration: none;
	font-weight: bold;
}
tbody tr{
	border-top: 2px solid #fafafa;
	&:hover{
		background-color: #FEF9F9;
	}
	td{
		font-size: 15px;
	}
}
.table>tbody>tr>td{
	padding: 20px;
}

.table>thead>tr>th {
    padding: 8px 20px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid red;
}
.table-to-xls{
	border: unset;
	background: unset;
	padding-left: 0px;
}
.nav .dropdown button{
	box-shadow: none;
}
.middle-panel{
	left: 15%;
	width: 70%;
}
.line {
	position: relative;
	li {
		display: inline-block;
		padding: 5vw;
	}
}
.line:before, .line:after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
}
.line:after {
	right: 0;
	height: 2px;
	background:  linear-gradient(90deg, $color-purple 50%, $color-yellow 50%);
}
.btn{
	background-color: $color-purple;
	font-weight: bold;
	text-transform: none;
	border-color: currentColor;
	color: #fff;

	&:active, &:focus{
		background-color: $color-purple;
		border-color: $color-yellow;
	}
	&:hover {
		opacity: 0.9;
		color: #fff;
		background-color: $color-yellow;
	}
}
.btn-sm{
	padding: 7px;
	border-radius: 5px;
	text-transform: none; 
}

/* Deposit.css */
#panel{
	font-weight: bold;
	padding: 2vh 0vh;
	> h4, > h5 {
		font-weight: bolder;
	}
}
#thrift-container{
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #ffffff; 
}
ul li{ list-style: none; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#first-aggregator-count {
	display:inline-block; 
	justify-content: space-between; 
	padding-bottom: 0px; 
	padding-top: 0px;
}
#stats-card-row-dashboard {
	padding: 10px 0px;
	display: grid;
	grid-template-columns: 1fr;
}
.yellow{ color: $color-yellow; }
.green{ color: $color-green; }
.grey{ color: $color-grey; }
#aggregator-count-image{ 
	display: block; 
	float: right; 
	height: 30px; 
	width: 30px; 
	top: 0px; 
	position: relative; 
}
#bold{ 
	font-weight: bold; 
}
#aggregator-count{ 
	color: #ff0014; 
}
#aggregator-card{ 
	width: 20%; 
	display: inline-block; 
	padding: 1%; 
	box-sizing: border-box; 
	border: 2px solid red; 
	>h4{ 
		font-weight: bold; 
	}
	>h5>span>img{ 
		width: 12.5px; 
		height:12.5px; 
	}
}
#right-aggregator-view {
	background-color: #ffffff; 
	padding: 2.5px; 
	margin-top: 2%;
	
	.form-inline{ 
		float: right; 
		margin: 1% 2%; 
		width: 35%; 
		input button{ 
			margin-right: 2%; 
			border-radius: .5vw; 
		}
	}
	table {
		th{ 
			font-size: 11px; 
			text-align: left; 
			color: #4d4f5c; 
		}
		td{ 
			font-size: 13px; 
			text-align: left; 
		}
	}
}
#view{ 
	text-align: center; 
	color: lightgrey; 
	&:hover{ 
		text-decoration: underline; 
		cursor: pointer; 
		font-weight: bold; 
	}
}
#view-btn-1, #view-btn-2{ 
	color: #ffffff; 
	border: 1px solid #ffffff; 
	float: right; 
	border-radius: 5px; 
}
#view-btn-1{ 
	background-color: #f7b352; 
	&:hover{ 
		background: $color-yellow;
		font-weight: bold;
	}
}
#view-btn-2{ 
	background-color: #cb0111; 
	&:hover{ 
		background: #d42e3b;
		font-weight: bold;
	}
}
#view-card{ 
	border-radius: .5vw; 
	width: 45%; 
	background-color: #fff; 
	box-sizing: border-box; 
	padding: 2%; 
	overflow-x: auto 
}
#aggregator-view-card-top{ 
	padding: 2% 4%; 
	width: 100%; 
}
#dashboard-wallet-div{
	width: 92%;
	left: 4%;
	background: #FFFFFF;
	padding: 0% 2%;
	box-sizing: border-box;
	margin-bottom: 2%;
}
#income-wallet-topLeft{
	display: inline-block;
}
#income-wallet-topRight{
	display: block;
	float: right;
	text-align: right;
	font-weight: bold;
}
#pad-aggregator-items{
	margin: 2px 5px;
	border-radius: .5vh;
	display: inline-block;
}
#print-receipt {
	width: 50%;
	left: 25%;
	position: relative;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    width: 10%;
    -webkit-appearance: none;
}

/* Mobile phone tweaks here  */
@media only screen and (max-width: 960px) {
	#fit-image { 
		display: none; 
	}
	#login-layout{ 
		grid-template-columns: 1fr;
	}
	#login-container input{
		width: 100%;
	}
	#print-receipt { 
		left: 2%; 
		width: 96%; 
	}
	.navbar-nav>li>a {
	  padding-bottom: 7.5px;
	  padding-top: 7.5px;
	}
	#aggregator-view-card-top { 
		padding: 2%; 
		width: 100%; 
	}
	#aggregator-view-card { 
		width: 100%; 
	}
	#stats-card {
		padding: 5px;
	}
	#container { 
		width: 100%; 
	}
	#main-thrift-acct-container { 
		width: 100%;
	}
	#main { 
		width: 100%; 
		left: 0%; 
	}
	.middle-panel{ 
		left: 2%; 
		width: 96%; 
	}
	#bottom_div{ 
		left: 2%; 
		width: 96%; 
	}
	#loginError { 
		width: 100%;
		position: relative;
		justify-content: center;
	}
}