.container-fluid{
    padding: 0;
}

#bottom_div{
    overflow-x: auto;

    #top-layer {
        display: flex; 
        justify-content: space-between;
        padding-bottom: 10px;

        :nth-child(1){
            h4{
                font-weight: bolder;
            }
        }
        
        :nth-child(2){
            span {
                font-size: 8px
            }
        }
    }

    #bottom-layer{
        display: flex;
        justify-content: space-between; 
        align-items: center;
        overflow-x: auto;

        #bottom-layer-left {
            select{
                text-align: center;
            }
        }

        #bottom-layer-right{
            display: flex; 
            justify-content: space-between;

            #pad-aggregator-items{
                margin: 2px 5px;
                border-radius: 5px;
                display: inline-block;
                width: 60%; 
            }

            div{
                text-align: center;
            }
        }
    }
}